.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: 2rem auto;
  max-width: 800px;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.data-row {
  border: 1px solid #ccc;
  padding: 1rem;
  transition: all 0.3s ease;
}

.data-row:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #555;
}

.add-games,
.logout,
.login {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add-games{
  background-color: #45a049;
}


.logout:hover,
.login:hover {
  background-color: #555;
}

.login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #45a049; 
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}